<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

<style>
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    iframe {
        width: 400px;
        height: 333px;
    }
</style>    
</head>
<body>
    <div class="container">
        <iframe scrolling="no" src="card.html" frameborder="0"></iframe>
    </div>
</body>
</html>