<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='cards.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    body, html {
        background: transparent;
    }
</style>
</head>
<body>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="{{url_for('static', filename='img/1.jpg')}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Magnetic Labyrinth</h5>
                    <p class="card-text">
                        Event Type: Group Event (2 members) <br>
                        Co-ordinator: <br>
                        Faculty: <b> Mr. Ronak K. Mistry </b> <br>
                        Student: <b>Vipul Kholiya <small>8866766168 </small> </b>
                        <!-- <b>Krunal Solanki <small>7698826659 </small> </b>
                        <b>Snehlata Limaje <small>9624741098 </small> </b> -->
                    </p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card mx-auto" style="width: 18rem;">
                <!-- <img class="card-img-top" src="{{url_for('static', filename='img/1.jpg')}}"" alt="Card image cap"> -->
                <div class="card-body">
                    <h5 class="card-title">DESCRIPTION</h5>
                    <p class="card-text">Magnetic Labyrinth is a logic maze event that requires you to use Magnet and ball with concentration focus and precision in tilting controlling the ball.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    <h5 class="card-title">Place and time:</h5>
                    <p class="card-text">Third Floor:311 MPI Lab : 10am on <b>26th Feb and 27th Feb</b></p>    
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card mx-auto" style="width: 18rem;">
                <!-- <img class="card-img-top" src="{{url_for('static', filename='img/1.jpg')}}"" alt="Card image cap"> -->
                <div class="card-body">
                    <h5 class="card-title">Rounds: 3 rounds</h5>
                    <p class="card-text" style="font-size: 16px;"> 
                        <b>1st round:</b> In this round there is no time limit & who complete task in minimum time will qualify for second round. <br>
                        <b>2nd round:</b> This round is time limit round and who will be completed it in minimum time will qualify for next round. <br>  
                        <b>3rd round:</b> This round has no time limit but try complete task in minimum time.
                    </p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>