<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='cards.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    body, html {
        background: transparent;
    }
</style>
</head>
<body>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="{{url_for('static', filename='img/1.jpg')}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Paper Presentation</h5>
                    <p class="card-text">
                        Event Type: Max 3 <br>
                        Co-ordinator: <br>
                        Faculty: <b> Dr. Bhumika Choksi </b> <br>
                        Student: <b>Mihir Suratwala <small>76006 65210</small> </b>
                    </p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card mx-auto" style="width: 18rem;">
                <!-- <img class="card-img-top" src="{{url_for('static', filename='img/1.jpg')}}"" alt="Card image cap"> -->
                <div class="card-body">
                    <h5 class="card-title">Guidelines</h5>
                    <ul>
                        <li>All presentations has to be in ENGLISH ONLY.</li>
                        <li>Presentations are to be 15 minutes, inclusive of 3 minutes for questions.</li>
                        <li>Presenters should save their presentation in .pdf or .ppt format on a flash drive (memory stick).</li>
                        <li>First Slide of presentation must contain the name of college and Logo with member’s name. </li>

                    </ul>
                    <a href="https://tekxianze2k19.in/events/paper.php" target="_blank" class="btn btn-primary">For more info</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card mx-auto" style="width: 18rem;">
                <!-- <img class="card-img-top" src="{{url_for('static', filename='img/1.jpg')}}"" alt="Card image cap"> -->
                <div class="card-body">
                    <h5 class="card-title">Evaluation Criteria</h5>
                    <p class="card-text" style="font-size: 16px;"> 
                        <ul>
                            <li>20% of marks based on Presentation slides.</li>
                            <li>20 % of marks based on Understanding of topic.</li>
                            <li>20 % of marks based on Presentation Skills.</li>
                            <li>20 % of marks based on timing of completion.</li>
                            <li>20 % of marks based on query handling.</li>
                        </ul>
                    </p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>